<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Page not found | {{ shop.name }}</title>
  <meta name="theme-color" content="{{ settings.color_button }}">
  {{ content_for_header }}
  <link rel="canonical" href="{{ canonical_url }}">
  </head>
  <body id="{{ page_title | handle }}" class="errorfile">

  </body>
  </html>